body {
  padding: 0;
  margin: 0;
}

#mapid,
body,
html {
  height: 100%;
}

.legend {
  padding: 10px;
  line-height: 27px;
  color: #555;
  background-color: #fff;
  border-radius: 10px;
}

.legend i {
  float: left;
  width: 30px;
  height: 18px;
  margin-right: 15px;
  opacity: .7;
}